In [4]:
import pandas as pd
import os

In [5]:
file_path1 = os.path.join("JC-201806-citibike-tripdata.csv")
file_path2 = os.path.join("JC-201807-citibike-tripdata.csv")
file_path3 = os.path.join("JC-201808-citibike-tripdata.csv")

In [6]:
df1 = pd.read_csv(file_path1)

In [6]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [5]:
df2 = pd.read_csv(file_path2)

In [8]:
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1234,2018-07-01 02:08:39.8920,2018-07-01 02:29:14.4890,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26306,Customer,1969,0
1,1041,2018-07-01 02:09:07.5180,2018-07-01 02:26:28.8720,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29204,Customer,1969,0
2,2308,2018-07-01 02:14:45.7400,2018-07-01 02:53:14.5970,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26234,Customer,1969,0
3,767,2018-07-01 02:25:12.4020,2018-07-01 02:38:00.0510,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26238,Subscriber,1992,1
4,151,2018-07-01 04:07:44.0520,2018-07-01 04:10:15.8010,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29204,Subscriber,1972,1

In [9]:
df3 = pd.read_csv(file_path3)

In [10]:
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [16]:
dfall = pd.concat([df1,df2,df3])
dfall

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1
5,256,2018-06-01 10:33:02.1100,2018-06-01 10:37:18.1230,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29269,Subscriber,1984,1
6,267,2018-06-01 11:33:22.6440,2018-06-01 11:37:50.0350,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,29551,Subscriber,1988,1
7,258,2018-06-01 12:07:49.8830,2018-06-01 12:12:08.0190,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,26271,Subscriber,1976,1
8,1247,2018-06-01 12:53:24.8470,2018-06-01 13:14:11.8770,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,30987,Subscriber,1976,1
9,761,2018-06-01 13:21:09.2160,2018-06-01 13:33:50.9930,3183,Exchange Place,40.716247,-74.033459,3194,McGinley Square,40.725340,-74.067622,33659,Subscriber,1989,1
10,261,2018-06-01 13:29:55.8570,2018-06-01 13:34:17.5260,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26304,Subscriber,1984,1
11,294,2018-06-01 13:54:32.1000,2018-06-01 13:59:26.7800,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29523,Subscriber,1990,1
12,313,2018-06-01 14:35:06.8030,2018-06-01 14:40:20.3790,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29299,Subscriber,1978,1
13,262,2018-06-01 14:57:34.3880,2018-06-01 15:01:57.2740,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29292,Subscriber,1983,1
14,1590,2018-06-01 15:07:33.3550,2018-06-01 15:34:04.2520,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26230,Subscriber,1978,1
15,1777,2018-06-01 15:10:55.4010,2018-06-01 15:40:32.5790,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26304,Customer,1969,0
16,1747,2018-06-01 15:11:19.1950,2018-06-01 15:40:26.6310,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26277,Customer,1969,0
17,872,2018-06-01 15:13:23.3440,2018-06-01 15:27:55.4430,3183,Exchange Place,40.716247,-74.033459,3269,Brunswick & 6th,40.726012,-74.050389,33605,Subscriber,1989,2
18,653,2018-06-01 15:29:21.5490,2018-06-01 15:40:15.1570,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29511,Subscriber,1991,1
19,230,2018-06-01 16:09:02.3240,2018-06-01 16:12:52.6560,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33573,Subscriber,1976,1
20,307,2018-06-01 16:20:51.7020,2018-06-01 16:25:59.0920,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29472,Subscriber,1986,1
21,402,2018-06-01 16:28:53.7800,2018-06-01 16:35:36.6310,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,29299,Subscriber,1971,1
22,1489,2018-06-01 16:33:14.4690,2018-06-01 16:58:03.7220,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26304,Customer,1969,0
23,1367,2018-06-01 16:35:10.2330,2018-06-01 16:57:57.7810,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29626,Customer,1969,0
24,203,2018-06-01 16:35:43.5220,2018-06-01 16:39:06.7080,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29611,Subscriber,1971,1
25,1114,2018-06-01 16:41:27.2570,2018-06-01 17:00:01.3530,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26277,Subscriber,1980,2
26,1466,2018-06-01 16:41:40.0020,2018-06-01 17:06:06.0840,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,33613,Subscriber,1983,1
27,282,2018-06-01 16:47:14.6080,2018-06-01 16:51:56.7830,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33634,Subscriber,1986,1
28,1138,2018-06-01 17:04:30.1720,2018-06-01 17:23:28.5080,3183,Exchange Place,40.716247,-74.033459,3195,Sip Ave,40.730743,-74.063784,29514,Subscriber,1987,1
29,286,2018-06-01 17:05:27.5510,2018-06-01 17:10:14.4750,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,33682,Subscriber,1987,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44402,5795,2018-08-10 07:36:53.6270,2018-08-10 09:13:29.1800,3694,Jackson Square,40.711130,-74.078900,3639,Harborside,40.719252,-74.034234,29280,Customer,1969,0
44403,1437,2018-08-10 07:39:07.8560,2018-08-10 08:03:04.9770,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,29522,Customer,1969,0
44404,2749,2018-08-10 18:22:08.5830,2018-08-10 19:07:57.6450,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26312,Subscriber,1982,2
44405,1036,2018-08-10 20:00:18.7770,2018-08-10 20:17:34.8540,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26312,Subscriber,1982,2
44406,949,2018-08-11 07:35:15.9440,2018-08-11 07:51:05.2770,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,26230,Subscriber,1991,2
44407,1343,2018-08-11 11:05:04.1800,2018-08-11 11:27:27.4690,3694,Jackson Square,40.711130,-74.078900,3203,Hamilton Park,40.727596,-74.044247,26249,Subscriber,1988,2
44408,1623,2018-08-11 15:43:28.5190,2018-08-11 16:10:32.3090,3694,Jackson Square,40.711130,-74.078900,3681,Grand St,40.715178,-74.037683,33576,Customer,1969,0
44409,1560,2018-08-11 15:44:39.7100,2018-08-11 16:10:40.1220,3694,Jackson Square,40.711130,-74.078900,3681,Grand St,40.715178,-74.037683,29621,Customer,1969,0
44410,1560,2018-08-11 15:44:55.1710,2018-08-11 16:10:56.1450,3694,Jackson Square,40.711130,-74.078900,3681,Grand St,40.715178,-74.037683,29210,Customer,1969,0
44411,1492,2018-08-12 08:20:01.6670,2018-08-12 08:44:53.7000,3694,Jackson Square,40.711130,-74.078900,3199,Newport Pkwy,40.728745,-74.032108,29581,Subscriber,1991,2
44412,895,2018-08-12 11:59:41.9510,2018-08-12 12:14:37.4400,3694,Jackson Square,40.711130,-74.078900,3192,Liberty Light Rail,40.711242,-74.055701,29623,Customer,1969,0
44413,895,2018-08-12 11:59:44.1240,2018-08-12 12:14:39.8330,3694,Jackson Square,40.711130,-74.078900,3192,Liberty Light Rail,40.711242,-74.055701,29122,Customer,1969,0
44414,864,2018-08-12 12:00:06.3570,2018-08-12 12:14:30.7450,3694,Jackson Square,40.711130,-74.078900,3192,Liberty Light Rail,40.711242,-74.055701,29647,Customer,1969,0
44415,770,2018-08-12 18:34:48.9940,2018-08-12 18:47:39.4430,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26174,Subscriber,1990,1
44416,1848,2018-08-13 16:45:30.0250,2018-08-13 17:16:18.5500,3694,Jackson Square,40.711130,-74.078900,3199,Newport Pkwy,40.728745,-74.032108,29497,Subscriber,1991,2
44417,1073,2018-08-13 18:07:50.1650,2018-08-13 18:25:43.6790,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29244,Subscriber,1988,1
44418,510,2018-08-14 15:23:22.6750,2018-08-14 15:31:53.6400,3694,Jackson Square,40.711130,-74.078900,3279,Dixon Mills,40.721630,-74.049968,29628,Subscriber,1985,1
44419,1090,2018-08-17 11:02:22.1040,2018-08-17 11:20:32.8740,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29486,Subscriber,1990,1
44420,1106,2018-08-18 08:43:21.1940,2018-08-18 09:01:47.6020,3694,Jackson Square,40.711130,-74.078900,3203,Hamilton Park,40.727596,-74.044247,33597,Subscriber,1988,1
44421,205,2018-08-18 12:21:58.4780,2018-08-18 12:25:23.4920,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29305,Subscriber,1985,1
44422,61445,2018-08-19 00:07:42.5450,2018-08-19 17:11:47.5880,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,26312,Customer,1969,0
44423,1331,2018-08-20 15:34:11.8060,2018-08-20 15:56:23.1780,3694,Jackson Square,40.711130,-74.078900,3677,Glenwood Ave,40.727551,-74.071061,26312,Customer,1998,2
44424,501,2018-08-20 21:55:24.4590,2018-08-20 22:03:46.1900,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29305,Customer,1969,0
44425,1116,2018-08-22 16:10:06.0890,2018-08-22 16:28:42.8410,3694,Jackson Square,40.711130,-74.078900,3191,Union St,40.718211,-74.083639,26252,Customer,1998,2
44426,2444,2018-08-25 15:30:22.4240,2018-08-25 16:11:06.8080,3694,Jackson Square,40.711130,-74.078900,3193,Lincoln Park,40.724605,-74.078406,29493,Subscriber,1982,2
44427,462,2018-08-25 16:17:05.8840,2018-08-25 16:24:48.5890,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29544,Subscriber,1990,1
44428,636,2018-08-28 12:31:22.4380,2018-08-28 12:41:59.2110,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29544,Subscriber,1990,1
44429,954,2018-08-30 08:08:18.9250,2018-08-30 08:24:13.7900,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29526,Subscriber,1977,1
44430,920,2018-08-31 08:08:54.2450,2018-08-31 08:24:14.8890,3694,Jackson Square,40.711130,-74.078900,3184,Paulus Hook,40.714145,-74.033552,33633,Subscriber,1977,1
44431,1017,2018-08-31 12:57:23.8390,2018-08-31 13:14:20.9290,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29288,Subscriber,1964,1

In [19]:

dfall.to_csv("citibike.csv")